.jumbotron {
  background-color: #008080;
}

body {
  background-color: #FFA07A;
}

.card-backs {
  text-align: center;
}

#top {
  padding-bottom: 30px;
  text-align: center;
}

#middle {
  padding-left: 50px;
  padding-right: 50px;
}

#bottom {
  padding-top: 30px;
}

#tarot-deck-main {
  width: 210px;
  height: 350px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.definitions {
  display: none;
}
